*.suo
*.user
_ReSharper.*
bin
obj
packages
*/bin
*/obj
/Presentation/Nop.Web/obj
/Presentation/Nop.Web/bin
/Presentation/Nop.Web.Framework/obj
/Presentation/Nop.Web.Framework/bin
/Tests
/.vs
/Plugins/Nop.Plugin.Widgets.NivoSlider/obj
/Plugins/Nop.Plugin.Widgets.What3words/obj
/Libraries/Nop.Core/bin
/Libraries/Nop.Core/obj
/Libraries/Nop.Data/bin
/Libraries/Nop.Data/obj
/Libraries/Nop.Services/bin
/Libraries/Nop.Services/obj
/Presentation/Nop.Web/Plugins/DiscountRules.CustomerRoles/Nop.Plugin.DiscountRules.CustomerRoles.dll
/Presentation/Nop.Web/Plugins/DiscountRules.CustomerRoles/Nop.Plugin.DiscountRules.CustomerRoles.pdb
/Presentation/Nop.Web/Plugins/Misc.Sendinblue/FubarCoder.RestSharp.Portable.Core.dll
/Presentation/Nop.Web/Plugins/Misc.Sendinblue/FubarCoder.RestSharp.Portable.HttpClient.dll
/Presentation/Nop.Web/Plugins/Misc.Sendinblue/JsonSubTypes.dll
/Presentation/Nop.Web/Plugins/Misc.Sendinblue/Nop.Plugin.Misc.Sendinblue.dll
/Presentation/Nop.Web/Plugins/Misc.Sendinblue/Nop.Plugin.Misc.Sendinblue.pdb
/Presentation/Nop.Web/Plugins/Misc.Sendinblue/Nop.Web.deps.json
/Presentation/Nop.Web/Plugins/Misc.Sendinblue/Nop.Web.runtimeconfig.dev.json
/Presentation/Nop.Web/Plugins/Misc.Sendinblue/Nop.Web.runtimeconfig.json
/Presentation/Nop.Web/Plugins/Misc.Sendinblue/Nop.Web.staticwebassets.runtime.json
/Presentation/Nop.Web/Plugins/Misc.Sendinblue/RestSharp.dll
/Presentation/Nop.Web/Plugins/Misc.Sendinblue/sib_api_v3_sdk.dll
/Presentation/Nop.Web/Plugins/Misc.Zettle/Nop.Plugin.Misc.Zettle.dll
/Presentation/Nop.Web/Plugins/Misc.Zettle/Nop.Plugin.Misc.Zettle.pdb
/Presentation/Nop.Web/Plugins/Misc.Zettle/Nop.Web.deps.json
/Presentation/Nop.Web/Plugins/Misc.Zettle/Nop.Web.runtimeconfig.dev.json
/Presentation/Nop.Web/Plugins/Misc.Zettle/Nop.Web.runtimeconfig.json
/Presentation/Nop.Web/Plugins/Misc.Zettle/Nop.Web.staticwebassets.runtime.json
/Presentation/Nop.Web/Plugins/MultiFactorAuth.GoogleAuthenticator/QRCoder.dll
/Presentation/Nop.Web/Plugins/MultiFactorAuth.GoogleAuthenticator/Google.Authenticator.dll
/Presentation/Nop.Web/Plugins/MultiFactorAuth.GoogleAuthenticator/Nop.Plugin.MultiFactorAuth.GoogleAuthenticator.deps.json
/Presentation/Nop.Web/Plugins/MultiFactorAuth.GoogleAuthenticator/Nop.Plugin.MultiFactorAuth.GoogleAuthenticator.dll
/Presentation/Nop.Web/Plugins/MultiFactorAuth.GoogleAuthenticator/Nop.Plugin.MultiFactorAuth.GoogleAuthenticator.pdb
/Presentation/Nop.Web/Plugins/Nop.Plugin.Api/JetBrains.Annotations.dll
/Presentation/Nop.Web/Plugins/Nop.Plugin.Api/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/Presentation/Nop.Web/Plugins/Nop.Plugin.Api/Microsoft.OpenApi.dll
/Presentation/Nop.Web/Plugins/Nop.Plugin.Api/Nop.Plugin.Api.dll
/Presentation/Nop.Web/Plugins/Nop.Plugin.Api/Nop.Plugin.Api.pdb
/Presentation/Nop.Web/Plugins/Nop.Plugin.Api/Swashbuckle.AspNetCore.Newtonsoft.dll
/Presentation/Nop.Web/Plugins/Nop.Plugin.Api/Swashbuckle.AspNetCore.Swagger.dll
/Presentation/Nop.Web/Plugins/Nop.Plugin.Api/Swashbuckle.AspNetCore.SwaggerGen.dll
/Presentation/Nop.Web/Plugins/Nop.Plugin.Api/Swashbuckle.AspNetCore.SwaggerUI.dll
/Presentation/Nop.Web/Plugins/Payments.CheckMoneyOrder/Nop.Web.staticwebassets.runtime.json
/Presentation/Nop.Web/Plugins/Payments.CheckMoneyOrder/Nop.Plugin.Payments.CheckMoneyOrder.dll
/Presentation/Nop.Web/Plugins/Payments.CheckMoneyOrder/Nop.Plugin.Payments.CheckMoneyOrder.pdb
/Presentation/Nop.Web/Plugins/Payments.CheckMoneyOrder/Nop.Web.deps.json
/Presentation/Nop.Web/Plugins/Payments.CheckMoneyOrder/Nop.Web.runtimeconfig.dev.json
/Presentation/Nop.Web/Plugins/Payments.CheckMoneyOrder/Nop.Web.runtimeconfig.json
/Presentation/Nop.Web/Plugins/Payments.Manual/Nop.Web.staticwebassets.runtime.json
/Presentation/Nop.Web/Plugins/Payments.Manual/Nop.Plugin.Payments.Manual.dll
/Presentation/Nop.Web/Plugins/Payments.Manual/Nop.Plugin.Payments.Manual.pdb
/Presentation/Nop.Web/Plugins/Payments.Manual/Nop.Web.deps.json
/Presentation/Nop.Web/Plugins/Payments.Manual/Nop.Web.runtimeconfig.dev.json
/Presentation/Nop.Web/Plugins/Payments.Manual/Nop.Web.runtimeconfig.json
/Presentation/Nop.Web/Plugins/Payments.PayPalCommerce/BraintreeHttp-Dotnet.dll
/Presentation/Nop.Web/Plugins/Payments.PayPalCommerce/Nop.Plugin.Payments.PayPalCommerce.dll
/Presentation/Nop.Web/Plugins/Payments.PayPalCommerce/Nop.Plugin.Payments.PayPalCommerce.pdb
/Presentation/Nop.Web/Plugins/Payments.PayPalCommerce/Nop.Web.deps.json
/Presentation/Nop.Web/Plugins/Payments.PayPalCommerce/Nop.Web.runtimeconfig.dev.json
/Presentation/Nop.Web/Plugins/Payments.PayPalCommerce/Nop.Web.runtimeconfig.json
/Presentation/Nop.Web/Plugins/Payments.PayPalCommerce/Nop.Web.staticwebassets.runtime.json
/Presentation/Nop.Web/Plugins/Payments.PayPalCommerce/PayPalCheckoutSdk.dll
/Presentation/Nop.Web/Plugins/Payments.PayPalCommerce/PayPalHttp-Dotnet.dll
/Presentation/Nop.Web/Plugins/Payments.PayPalCommerce/Source.dll
/Presentation/Nop.Web/Plugins/Pickup.PickupInStore/Nop.Plugin.Pickup.PickupInStore.dll
/Presentation/Nop.Web/Plugins/Pickup.PickupInStore/Nop.Plugin.Pickup.PickupInStore.pdb
/Presentation/Nop.Web/Plugins/Shipping.FixedByWeightByTotal/Nop.Plugin.Shipping.FixedByWeightByTotal.dll
/Presentation/Nop.Web/Plugins/Shipping.FixedByWeightByTotal/Nop.Plugin.Shipping.FixedByWeightByTotal.pdb
/Presentation/Nop.Web/Plugins/Shipping.UPS/Nop.Plugin.Shipping.UPS.deps.json
/Presentation/Nop.Web/Plugins/Shipping.UPS/Nop.Plugin.Shipping.UPS.dll
/Presentation/Nop.Web/Plugins/Shipping.UPS/Nop.Plugin.Shipping.UPS.pdb
/Presentation/Nop.Web/Plugins/Tax.FixedOrByCountryStateZip/Nop.Plugin.Tax.FixedOrByCountryStateZip.dll
/Presentation/Nop.Web/Plugins/Tax.FixedOrByCountryStateZip/Nop.Plugin.Tax.FixedOrByCountryStateZip.pdb
/Presentation/Nop.Web/Plugins/Widgets.ColorBanner/Nop.Plugin.Widgets.ColorBanner.deps.json
/Presentation/Nop.Web/Plugins/Widgets.ColorBanner/Nop.Plugin.Widgets.ColorBanner.dll
/Presentation/Nop.Web/Plugins/Widgets.ColorBanner/Nop.Plugin.Widgets.ColorBanner.pdb
/Presentation/Nop.Web/Plugins/Widgets.StoreDetails/Nop.Plugin.Widgets.StoreDetails.pdb
/Presentation/Nop.Web/Plugins/Widgets.StoreDetails/Nop.Web.deps.json
/Presentation/Nop.Web/Plugins/Widgets.StoreDetails/Nop.Web.runtimeconfig.dev.json
/Presentation/Nop.Web/Plugins/Widgets.StoreDetails/Nop.Web.runtimeconfig.json
/Presentation/Nop.Web/Plugins/Widgets.StoreDetails/Nop.Web.staticwebassets.runtime.json
/Presentation/Nop.Web/Plugins/Widgets.StoreDetails/Nop.Plugin.Widgets.StoreDetails.dll
/Presentation/Nop.Web/Plugins/Widgets.What3words/Nop.Web.staticwebassets.runtime.json
/Presentation/Nop.Web/Plugins/Widgets.What3words/Nop.Plugin.Widgets.What3words.dll
/Presentation/Nop.Web/Plugins/Widgets.What3words/Nop.Plugin.Widgets.What3words.pdb
/Presentation/Nop.Web/Plugins/Widgets.What3words/Nop.Web.deps.json
/Presentation/Nop.Web/Plugins/Widgets.What3words/Nop.Web.runtimeconfig.dev.json
/Presentation/Nop.Web/Plugins/Widgets.What3words/Nop.Web.runtimeconfig.json
/Presentation/Nop.Web/Plugins/RasteBazar/Nop.Plugin.RasteBazar.dll
/Presentation/Nop.Web/Plugins/RasteBazar/Nop.Plugin.RasteBazar.pdb
/Presentation/Nop.Web/Plugins/RasteBazar/Nop.Web.deps.json
/Presentation/Nop.Web/Plugins/RasteBazar/Nop.Web.runtimeconfig.dev.json
/Presentation/Nop.Web/Plugins/RasteBazar/Nop.Web.runtimeconfig.json
/Presentation/Nop.Web/Plugins/RasteBazar/Nop.Web.staticwebassets.runtime.json
/Presentation/Nop.Web/Plugins
