*.suo
*.user
_ReSharper.*
bin
obj
packages
*/bin
*/obj
/Presentation/Nop.Web/obj
/Presentation/Nop.Web/bin
/Presentation/Nop.Web.Framework/obj
/Presentation/Nop.Web.Framework/bin
/Tests
/.vs
/Plugins/Nop.Plugin.Widgets.NivoSlider/obj
/Plugins/Nop.Plugin.Widgets.What3words/obj
/Libraries/Nop.Core/bin
/Libraries/Nop.Core/obj
/Libraries/Nop.Data/bin
/Libraries/Nop.Data/obj
/Libraries/Nop.Services/bin
/Libraries/Nop.Services/obj
